apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonLabels:
  app.kubernetes.io/name: {{ app_name }}
  app.kubernetes.io/version: {{ app_version }}
  app.kubernetes.io/part-of: {{ parent_app }}
  app.kubernetes.io/managed-by: argocd

resources:
- all.yml